<configuration>
    <packageSources>
        <add key="LocalAtomBuild" value="C:\Dev\Src\atom\Atom.Build\bin\Release" />
        <add key="LocalAtomData" value="C:\Dev\Src\atom\Atom.Data\bin\Release" />
        <add key="LocalAtomInfrastructure" value="C:\Dev\Src\atom\Atom.Infrastructure\bin\Release" />
        <add key="LocalAtomInfrastructureTestingUtil" value="C:\Dev\Src\atom\Atom.Infrastructure.TestingUtil\bin\Release" />
        <add key="LocalAtomUIForms" value="C:\Dev\Src\atom\Atom.UI.Forms\bin\Release" />
        <add key="LocalAtomUIFormsTestingUtil" value="C:\Dev\Src\atom\Atom.UI.Forms.TestingUtil\bin\Release" />
        <!-- Other sources can be added here -->
    </packageSources>
    <packageSourceMapping>
        <packageSource key="LocalAtomBuild">
            <package pattern="Genius.Atom.Build" />
        </packageSource>
        <packageSource key="LocalAtomData">
            <package pattern="Genius.Atom.Data" />
        </packageSource>
        <packageSource key="LocalAtomInfrastructure">
            <package pattern="Genius.Atom.Infrastructure" />
        </packageSource>
        <packageSource key="LocalAtomInfrastructureTestingUtil">
            <package pattern="Genius.Atom.Infrastructure.TestingUtil" />
        </packageSource>
        <packageSource key="LocalAtomUIForms">
            <package pattern="Genius.Atom.UI.Forms" />
        </packageSource>
        <packageSource key="LocalAtomUIFormsTestingUtil">
            <package pattern="Genius.Atom.UI.Forms.TestingUtil" />
        </packageSource>
        <packageSource key="github">
            <package pattern="Genius.*" />
        </packageSource>
        <packageSource key="nuget.org">
            <package pattern="*" />
        </packageSource>
    </packageSourceMapping>
</configuration>
